@charset "UTF-8";

p{
	margin:-2px;
}
.hidden{
	display: none;
}

#allmoimmiddle{
	position: relative;
	width:100%;
}

.allfilter{
	margin-top:1%;
	margin-bottom:1%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width:40%;
}

.allfilter .dropdown{
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 90px;
}


/* **************필터선택후***************** */

#allmoimsearch{
	width:100%;
	height: 800px;
}

.filterresultmoim,
.filterresultclass{
	width:100%;
	height: 50%;
}

.filterresultmoim .result,
.filterresultclass .result{
	float: left;
	margin:0% 0% 1% 1%;
}

/* 검색결과모임 */
.cardbox {
	clear: both;
	width: 100%;
	height:85%;
	margin:2% 0% 2% 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cardbox .card{
	width:15%;
	height: 100%;
	display: grid;
	align-items: start;
	cursor: pointer;
	background-color:  #d9eeff;
}
.cardbox .card:hover{
	opacity: 0.7;
}

.cardbox .card img{
	width:100%;
	height: 80%;	
}
.cardbody{
	display: grid;
	justify-content: center;
	margin-top: 5%;
}

.cardbox .card .cardbody h5{
	width:100%;
	height: 20%;
	text-align: center;
}

.cardbox .card .cardbody .cardtext:nth-child(2) {
	margin-top: 5%;
	padding: 0 1% 0 1%;
}
.cardbox .card .cardbody {
	height: 38%;
} 


.dropdown fieldset{
	border: 0;
}
.dropdown legend {
	display: none;
}

.plus{
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	background-color:  #d9eeff;
}

.plus:hover {
	opacity:0.7;
}