@charset "UTF-8";

p{
	margin:-2px;
}
.hidden{
	display: none;
}

#allmoimclass{
	position: relative;
	width:100%;
}

.formbox{
	display: flex;
    justify-content: center;
    padding: 2%;
    font-family: 'NanumSquareRound';
}

.find{
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 90px;
}


/* **************필터선택후***************** */
.card {
	border-radius: 15px;
}

#allmoimclass{
	width:100%;
	height: 800px;
}

.moim,.clas{
	width:100%;
	height: 45%;
}

/* 검색결과모임 */
.cardbox {
	clear: both;
	width: 100%;
	height:85%;
	margin:3% 0% 1.5% 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cardbox .card{
	width:15%;
	height: 100%;
	display: grid;
	align-items: start;
	cursor: pointer;
	background-color:  #E2F0FF;
}
.cardbox .card:hover{
	opacity: 0.7;
}

.card-img-top{
	width:100%;
	height: 80%;	
	border-radius: 15px 15px 0 0;
}
.cardbody{
	display: grid;
	justify-content: center;
	margin-top: 5%;
}
.cardtitle{
	font-size: 17px;
	padding-bottom:5px;
}
.cardbox .card .cardbody h5{
	width:100%;
	height: 20%;
	text-align: center;
}

.cardbox .card .cardbody .cardtext:nth-child(2) {
	margin-top: 5%;
	padding: 0 1% 0 1%;
}
.cardbox .card .cardbody {
	height: 38%;
} 

.moimplus,
.classplus{
	width:10%;
	height:30px;
	line-height:30px;
	text-align:center;
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5px;
	cursor: pointer;
	background-color:  #F2F2F2;
	margin-top: 21px;
}

.plus:hover {
	opacity:0.7;
}

#findPlaceBtn{
    background-color: #5da5f8;
    border: 2px solid #5da5f8;
    cursor: pointer;
    color: white;
    height: 30px;
    width: 50px;
}

select{
	 height: 35px;
}

.spannone{
	display: none;
}