@charset "UTF-8";

#commumiddle{
	margin:2% 1% 1% 1%;
}

.commumenubox{
	width:80%;
	margin-bottom: 1%;
}

.commumenubox ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.commumenubox li {
	padding:1%;
	list-style: none;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19%;
}

.commumenubox .btn {
	width: 100%;
}

/* *****************카테고리선택********** */
.dailybox, .reviewbox, .bestbox, .writebox{
	display: none;
}

/* ***************nav***************** */

#commumiddle nav{
	width:30%;
	margin-top: 2%;
}


/* ************글페이지부분**************** */

.allbox,.dailybox,.reviewbox,.bestbox{
	width:70%;
}

.num,.title,.writer,.date,.count{
	display: inline-block;
	margin:1%;
}

.num{
	width:10%;
}

.title{
	width:25%;
}

.writer,.date,.count{
	width:10%;
}

.top{
	display: flex;
    justify-content: space-between;
}
