@charset "UTF-8";

#detailgatmiddle{
	width:100%;
	height: 1500px;
	position: relative;
}

span{
	display: inline-block;
	margin-top: 1%;
}
.large{
	font-weight: bold;
	font-size: large;
}
.medium{
	font-size: medium;
	font-weight: bold;
}

.photobox{
	width: 80%;
	text-align: center;
}
.photobox img{
	object-fit: cover; 
}
.infobox{
	width:80%;
	margin-top:2%;
}

/* -------------- 모임소개 --------- */

.moiminfobox{
    position: absolute;
	margin:2.5%;
	padding:1%;
	left:12%;
	width:70%;
	height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid #3EAAFF;
    border-radius: 10px;
}

.moiminfobox .moimname{
	width:50%;
    justify-content: space-around;
    text-align: center;
}

.moimname div{
	margin-top: 2%;
}

 .moimpic{
  	box-sizing: border-box;
    width:50%;
    height: 100%;
    justify-content: space-around;
 }
    
.moimpic img{
	height: 100%;
    width: 95%;
}

/* -------------- 모임메뉴 --------- */
.moimdetail{
	position: absolute;
	width:100%;
	height:75%;
	top:29%;
}

.moimmenubox ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.moimmenubox li {
	list-style: none;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.moimmenubox .btn {
	width: 100%;
}

/* **********모임상세카테고리************* */
.moimdetail .detailinfo{
	margin-top: 2%;
	width:100%;
	height: 100%;
}

.moiminfodetail{
	width:100%;
	height: 95%;
}
.moimcommu,.moimphoto,.moimchatting{
	margin: 0;
	padding: 0;
	width:100%;
	display: none;
	height: 95%;
}


/* *******모임사진첩******* */
.card-group{
	height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-group ul{
	margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.card-group li{
	box-sizing: border-box; 
    width: 100%;
    height:85%;
    /* 폰트 가운데정렬 */
    display: flex;
    justify-content: initial;
    align-items:center; 
    margin: 2%;
}
.card-group li div{
	box-sizing: border-box; 
	object-fit: cover;
	width: 100%;
}

.card-group li .card{
	width: 100%;
    height:100%;
    
}
.card-group li img{
	height: 60%;	
}
.card-group li .card-body{
	height: 21%;
	padding: 0 !important;
}
.card-group li .card-body .card-text{
	margin-bottom: 0.5%;
}
.card-group li .card-footer{
	height: 9%;
	padding: 0 !important;
}

.moimphoto nav,
.moimcommu nav{
	width:20%;
}
/* ********모임가입섹션*********** */

.moimjoin{
	position: fixed;
	width:30%;
	top:90%;
	left:35%;
	margin:1%;
	z-index: 1;
}

.moimjoin ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.moimjoin li {
	list-style: none;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.moimjoin li button {
	width: 100%;
}
.moimjoin li a {
	width: 100%;
}

/* 모임게시판 */
.board_list_wrap{
	width:80%;
	height: 80%;
	border: 1px solid #c9c9c9;
	padding: 1%;
	margin-left: 9%;
	margin-bottom: 1%;
}

.num,.title,.writer,.date,.count{
	display: inline-block;
	margin:1%;
}

.num{
	width:10%;
}

.title{
	width:25%;
}

.writer,.date,.count{
	width:10%;
}

.nav{
	margin:1%;
}

.top{
	display: flex;
    justify-content: space-between;
    margin-left: 6%;
}

.bt_wrap{
	display: inline-block;
	padding: 1%;
	margin: 2% 1% 1% 5%;
}



/* 1:1문의 */
.quest{
	display: inline-block;
	padding: 1%;
	margin-left:5%;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
	background-color: #d4d4d4;
	font-weight: bold;
	color: black;
}

.quest:hover{
	opacity: 0.7;
}


/* 넘기는거 */
.pagination{
	z-index: 100;
}