@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


#wrap2{
/* 	position: relative; */
background: #FFFFFF;
	text-align:center;
/* 	position:relative; */
	width:70%;
/* 	height:100%; */
	box-shadow: 0px 1px 5px lightgrey;
	border-radius: 10px;
/* 	padding:50px; */
	margin-top:40px;
	margin-bottom:40px;
}


.toggle2 input[type=radio]{
    display: none;
    position: relative;

}

.toggle2 input[type=radio] + label {
	filter: brightness(70%);
    opacity:0.3; 
    position: relative;
    border-radius: 10px;
        	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:3s;
	-o-transition:.3s;
	transition:.3s;
}
.toggle2 input[type=radio] + label:hover{
	filter: brightness(100%);
    opacity:1; 
    position: relative;   
}
.toggle2 input[type=radio]:checked + label {
    filter: brightness(100%);
    opacity:1; 

    position: relative; 
}

.toggle2-text{
	padding: 5px 10px;
	text-align: center;
	position: absolute;
	top:80%;
}

.subbox2{
    position: relative;
    width: 50%;
    height: 74px;
    text-align: center;
    background: #66A3FF;
    border: 3px solid #66A3FF;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 240%;
    font-family: 'Dongle', sans-serif;
    color: white;
    	-webkit-transition:.4s;
	-moz-transition:.4s;
	-ms-transition:4s;
	-o-transition:.4s;
	transition:.4s;
	margin-bottom:40px;
}

.subbox2:hover{
	background: #0038FF;
	border: 3px solid #0038FF;
	border-radius: 10px;
}

select::-ms-expand{
	display:none;
}

select{
/* 	-o-appearance: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
	width: 200px;
	height: 40px;
	padding: 5px 30px 5px 10px;
	background: url('/image/ldh/select.png') no-repeat 95% 50%;
	background-size: 20px;
	border-radius:10px;
	border: 1px solid rgba(0, 133, 255, 0.25);
	box-shadow: 0px 4px 4px rgba(0, 133, 255, 0.25);
	
}

select option{
	size:5px;
	background: white;
	color: black;
	padding: 3px 0;
}
.tooltip{
	display:inline-block;
	color:#ff44a9;
	font-weight: bold;
	
}

.tooltip-text{
	display: none;
	position: absolute;
	max-width:200px;
	border: 1px solid;
	border-radius: 3px;
	padding: 5px;
	font-size: 0.8em;
	color: white;
	background:#ff44a9;
	
}

.tooltip:hover .tooltip-text{
	display: block;
}