@charset "UTF-8";

#wrap{

position: absolute;
background: #FFFFFF;
	text-align:center;
	position:relative;
	width:60%;
/* 	height:100%; */
	box-shadow: 0px 1px 3px;
	border-radius: 10px;
	padding:50px;
}

.subbox{

width: 89px;
height: 47px;

background: #66A3FF;
border: 3px solid #0038FF;
box-sizing: border-box;
border-radius: 10px;

color: white;
}