<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.teamMainProject.dao.IClass_ScheDAO">

    <resultMap id="gatherSchedule" type="com.boot.teamMainProject.model.Class_ScheVO">
        <result property="classScheNo" column="classScheNo" />
        <result property="classNo" column="classNo" />
        <result property="memNick" column="memNick" />
        <result property="classScheTitle" column="classScheTitle" />
        <result property="classScheInfo" column="classScheInfo" />
        <result property="classScheDate" column="classScheDate" />
        <result property="classScheTime" column="classScheTime" />
        <result property="classScheLocation" column="classScheLocation" />
        <result property="classScheMax" column="classScheMax" />
        <result property="classScheSpace" column="classScheSpace" />
        <result property="classScheWriteDate" column="classScheWriteDate" />
        <result property="classScheView" column="classScheView" />
    </resultMap>
    <!--  모임 일정 만들기  -->
    <insert id="MakeClassSchedule"  >
        INSERT INTO Class_Sche (classNo, memNick, classScheTitle, classScheInfo, classScheDate, classScheTime, classScheLocation, classScheMax, classScheSpace, classScheView)
        VALUES (#{classNo}, #{memNick}, #{classScheTitle}, #{classScheInfo}, #{classScheDate}, #{classScheTime}, CONCAT(#{scheduleAddress},#{scheduleSpace}),
                #{classScheMax}, #{classScheSpace}, 0)
    </insert>
<!--    &lt;!&ndash;  모임 일정 불러오기(전체 페이지 용)  &ndash;&gt;-->
<!--    <select id="LoadGather_Sche" resultMap="gatherSchedule">-->
<!--        select * from Gather_Sche where gatNo=#{gatNo}-->
<!--    </select>-->
<!--    &lt;!&ndash;  모임 일정 불러오기(상세 페이지 용)  &ndash;&gt;-->
<!--    <select id="LocdGather_Schedule" resultMap="gatherSchedule">-->
<!--        select * from Gather_Sche where gatScheNo=#{gatScheNo}-->
<!--    </select>-->
<!--    &lt;!&ndash;  조회수 증가  &ndash;&gt;-->
<!--    <update id="updateViewCount">-->
<!--        update Gather_Sche set gatScheView = gatScheView + 1 where gatScheNo = #{gatScheNo}-->
<!--    </update>-->
<!--    &lt;!&ndash;  모임 최대 인원 조회  &ndash;&gt;-->
<!--    <select id="CheckMaxPerson" resultType="int" parameterType="int">-->
<!--        select gatScheMax from Gather_Sche where gatScheNo=#{gatScheNo}-->
<!--    </select>-->
</mapper>