<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.teamMainProject.dao.IGatherScheduleDAO">

    <resultMap id="gatherSchePerNo" type="com.boot.teamMainProject.model.Gather_Sche_PerVO">
        <result property="gatScheNo" column="gatScheNo" />
        <result property="gatNo" column="gatNo" />
        <result property="memNick" column="memNick" />
        <result property="gatSchePerNo" column="gatSchePerNo" />

    </resultMap>
<!--  현재 모임 참가 인원 숫자 조회  -->
    <select id="GatherJoinNow" resultType="int" parameterType="int">
        select count(*) from Gather_Sche_Per where gatScheNo=#{gatScheNo}
    </select>
<!--  현재 모임 참가 인원 조회  -->
    <select id="GatherJoinPerson" resultMap="gatherSchePerNo">
        select * from Gather_Sche_Per where gatScheNo=#{gatScheNo}
    </select>
    <!--  모임 일정 참가  -->
    <insert id="JoinGather" parameterType="com.boot.teamMainProject.model.Gather_Sche_PerVO" >
        INSERT INTO Gather_Sche_Per (gatScheNo, gatNo, memNick)
        VALUES (#{gatScheNo}, #{gatNo}, #{memNick})
    </insert>
<!--  중복 참가 막기  -->
    <select id="CheckGatherScheduleOverlap" resultType="String" >
        SELECT memNick from Gather_Sche_Per WHERE gatScheNo=#{gatScheNo} AND memNick=#{memNick}
    </select>
</mapper>