<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.teamMainProject.dao.IGatherScheduleDAO">

    <resultMap id="gatherSchedule" type="com.boot.teamMainProject.model.SpaceReviewVO">
        <result property="gatScheNo" column="gatScheNo" />
        <result property="gatNo" column="gatNo" />
        <result property="memNick" column="memNick" />
        <result property="gatScheTitle" column="gatScheTitle" />
        <result property="gatScheInfo" column="gatScheInfo" />
        <result property="gatScheDate" column="gatScheDate" />
        <result property="gatScheTime" column="gatScheTime" />
        <result property="gatScheLocation" column="gatScheLocation" />
        <result property="gatScheMax" column="gatScheMax" />
        <result property="gatScheSpace" column="gatScheSpace" />
    </resultMap>
    <insert id="MakeGatherSchedule" parameterType="com.boot.teamMainProject.model.SpaceReviewVO" >
        INSERT INTO Gather_Sche (gatNo, memNick, gatScheTitle, gatScheInfo, gatScheDate, gatScheTime, gatScheLocation, gatScheMax, gatScheSpace)
        VALUES (#{gatNo}, #{memNick}, #{gatScheTitle}, #{gatScheInfo}, #{gatScheDate}, #{gatScheTime}, CONCAT(#{scheduleAddress},#{scheduleSpace}),
                   #{gatScheMax}, #{gatScheSpace})
    </insert>
</mapper>