<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.teamMainProject.dao.IGatherScheduleDAO">

    <resultMap id="gatherSchedule" type="com.boot.teamMainProject.model.GatherScheduleVO">
        <result property="gatScheNo" column="gatScheNo" />
        <result property="gatNo" column="gatNo" />
        <result property="memNick" column="memNick" />
        <result property="gatScheTitle" column="gatScheTitle" />
        <result property="gatScheInfo" column="gatScheInfo" />
        <result property="gatScheDate" column="gatScheDate" />
        <result property="gatScheTime" column="gatScheTime" />
        <result property="gatScheLocation" column="gatScheLocation" />
        <result property="gatScheMax" column="gatScheMax" />
        <result property="gatScheSpace" column="gatScheSpace" />
        <result property="gatScheWriteDate" column="gatScheWriteDate" />
        <result property="gatScheView" column="gatScheView" />
    </resultMap>
<!--  모임 일정 만들기  -->
    <insert id="MakeGatherSchedule" parameterType="com.boot.teamMainProject.model.SpaceReviewVO" >
        INSERT INTO Gather_Sche (gatNo, memNick, gatScheTitle, gatScheInfo, gatScheDate, gatScheTime, gatScheLocation, gatScheMax, gatScheSpace, gatScheView)
        VALUES (#{gatNo}, #{memNick}, #{gatScheTitle}, #{gatScheInfo}, #{gatScheDate}, #{gatScheTime}, CONCAT(#{scheduleAddress},#{scheduleSpace}),
                   #{gatScheMax}, #{gatScheSpace}, 0)
    </insert>
<!--  모임 일정 불러오기(전체 페이지 용)  -->
    <select id="LoadGather_Sche" resultMap="gatherSchedule">
        select * from Gather_Sche where gatNo=#{gatNo}
    </select>
<!--  모임 일정 불러오기(상세 페이지 용)  -->
    <select id="LocdGather_Schedule" resultMap="gatherSchedule">
        select * from Gather_Sche where gatScheNo=#{gatScheNo}
    </select>
<!--  조회수 증가  -->
    <update id="updateViewCount">
        update Gather_Sche set gatScheView = gatScheView + 1 where gatScheNo = #{gatScheNo}
    </update>
<!--  모임 최대 인원 조회  -->
    <select id="CheckMaxPerson" resultType="int" parameterType="int">
        select gatScheMax from Gather_Sche where gatScheNo=#{gatScheNo}
    </select>
</mapper>