@charset "UTF-8";

/* common.css */
/* 모든 페이지에 공통 적용 */

* {padding: 0; margin:0 auto;}

/* 모든 컨텐츠를 포함하는  box */
#mainWrap {
	width:1280px;
	text-align:center;
	position:relative;
	background-color:#ffffff;
}

/* 모든 <img> 테그 테두리 없음 */
img { border:0; margin:0;}
