@charset "UTF-8";
#footerBack {
	width:100%;
	position:relative;
	
	background-color: black;
}

#footerDiv{
	width:1280px;
	/*height:100%;*/
	box-sizing: border-box; 
}

#footerDiv div{
	background-color: #F9F9F9;
}


#footerBox div{
	display:inline-block;
	margin:10px;
	padding-left:35px;
	padding-top:15px;
}

#footerTitle1 {
	width:500px;
}

#bottomMenuBox1 {
	float:left;
	margin-right:700px;
	width:850px;
	height:50px;
}

#bottomMenuBox1 ul{ 
	margin:0;
}

#bottomMenuBox1 li {
	float:left;
	text-align:left;
	width:33%;
	height:30px;
	line-height:30px;
}

#bottomMenuBox1 ul li a {
	text-decoration:none;
	color:#3A3A3A;
	font-size:23px;   /* pt 도 됨 */
}

#bottomMenuBox1 ul li a:hover {
	color:black;
	font-weight:bold;
}

#bottomMenuBox2 {
	float:left;
	margin-right:700px;
	width:600px;
	height:50px;
}

#bottomMenuBox2 ul{ 
	margin:0;
}

#bottomMenuBox2 li {
	float:left;
	text-align:left;
	height:30px;
	line-height:30px;
}

#bottomMenuBox2 ul li a {
	text-decoration:none;
	color:#3A3A3A;
	font-size:20px;   /* pt 도 됨 */
}

#menuBold {
	font-weight:bold;
}

#footerTextBox {
	float:left;
	text-align:left;
}

#footerText{
	color:#9C9C9C;
	font-weight:bold;
	padding-bottom:1px;
	font-size:12px;
	
}

#footerTitle1{
	color:#3A3A3A;
	font-weight:bold;
	padding-bottom:10px;
	font-size:24px;
}

#footerTable1 tr {
	height : 40px;
	font-size: 18px;
}

#footerTitle2{
	color:#3A3A3A;
	font-weight:bold;
	padding-bottom:10px;
	font-size:20px;
}

#footerTable2 tr {
	height : 40px;
	color:gray;
}

#footerHr {
	margin-top:10px;
	border-top: 1px solid #E3E3E3;
	margin-left:20px;
	margin-right:50px;
}

#moveToTop:hover { opacity:0.7; cursor:pointer;}

