/* ======== CASCADING VARIABLES ======== */
:root {
    --bg-color: rgba(50, 130, 255, 0.9);
}
/* ====== MAIN ====== */

body {
    margin: auto 0;
}

.user-info-container {
    margin-top: 2rem;
}

.user-info {
    position: relative;
    margin: 5px 0 5px 0;
    left: 1rem;
    list-style: none;
}

.container {
    display: flex;
    height: 50rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-info {
    width: 500px;
    height: 100px;
    border: 1px solid var(--bg-color);
    box-shadow: 1px 1px 10px;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
}

.change-info {
    position: relative;
    cursor: pointer;
    background-color: var(--bg-color);
    border-radius: 10px;
    color: white;
    top: -4.8rem;
    left: 13.5rem;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
    transition: all 0.2s;
}

.portal-list {
    display: flex;
    padding: 0;
    width: 35rem;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 40px;
}

.portal-item {
    display: inline;
    position: relative;
    width: 8rem;
    height: 3rem;
    text-align: center;
    background: var(--bg-color);
    color: white;
    font-weight: bold;
    line-height: 3rem;
    cursor: pointer;
    transition: all 0.2s;
}
.subscription {
    width: 75%;
}
.club {
    width: 100%;
    box-shadow: 1px 1px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}

.club-item {
    list-style: none;
    width: 95%;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background: var(--bg-color);
    padding-left: 10px;
    text-align: center;
    margin: 10px 0 4px 17px;
}

.gat-href {
	text-decoration: none;
}

/* ======== PSEUDO-CLASS <SELECTOR> ======== */
/* .portal-item::after, 
.portal-item::before {
    width: 10px;
    height: 60px;
    border-color: transparent;
}

.portal-item::before {
    position: absolute;
    content: '';
    border: 1px solid rgba(50, 130, 255, 0.9);
    top: -10px;
    right: -15px;
    z-index: -3;
}

.portal-item::after {
    position: absolute;
    content: '';
    border: 1px solid rgba(50, 130, 255, 0.9);
    top: 10px;
    left: -15px;
    z-index: -3;
} */

.gat-href:link {
  color : black;
}
.gat-href:visited {
  color : black;
}
.gat-href:hover {
  color : black;
}
.gat-href:active {
  color : black;
}

.change-info:hover {
    color: var(--bg-color);
    background-color: transparent;
}

.portal-item:hover {
    background: white;
    /* border: 1px solid rgba(50, 130, 255, 0.9); */
    color: rgba(50, 130, 255, 0.9);
}
.list-Reser{
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    display:inline-block;
}
#spanEndTime {
    margin-left: 30px !important;
}
#title{
    margin-left: 90px;
}
#reserDate{
    margin-left: 110px;
}
#startTime{
    margin-left: 62px;
}
#endTime{
    margin-left: 32px;
}
#Pay{
    margin-left: 70px;
}
#ReserCancel{
    margin-left: 99px;
}
#Review{
    margin-left: 78px;
}
.ReservationCancel{
    background-color: var(--bg-color);
    border: var(--bg-color);
    color: white;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 35px;
}
.FakeReservationCancel{
    background-color: var(--bg-color);
    border: var(--bg-color);
    color: white;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 35px;
}

#list-Title {
    width: 20%;
    text-align: center;
}
#list-Date {
    width: 15%;
    text-align: center;
}
#listStart {
    width: 10%;
    text-align: center;
}
#listEnd {
    width: 10%;
    text-align: center;
}
#listPay {
    width: 15%;
    text-align: center;
}
#list-Review {
    width: 10%;
    text-align: center;
}