/* ======== CASCADING VARIABLES ======== */
:root {
    --bg-color: rgba(50, 130, 255, 0.9);
}
/* ====== MAIN ====== */

body {
    margin: auto 0;
}

.user-info-container {
    margin-top: 2rem;
}

.user-info {
    position: relative;
    margin: 5px 0 5px 0;
    left: 1rem;
    list-style: none;
}

.container {
    display: flex;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-info {
    width: 500px;
    height: 100px;
    border: 1px solid var(--bg-color);
    box-shadow: 1px 1px 10px;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
}

.change-info {
    position: relative;
    cursor: pointer;
    background-color: var(--bg-color);
    border-radius: 10px;
    color: white;
    top: -4.8rem;
    left: 13.5rem;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
    transition: all 0.2s;
}

.portal-list {
    display: flex;
    padding: 0;
    width: 35rem;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 40px;
}

.portal-item {
    display: inline;
    position: relative;
    width: 8rem;
    height: 3rem;
    text-align: center;
    background: var(--bg-color);
    color: white;
    font-weight: bold;
    line-height: 3rem;
    cursor: pointer;
    transition: all 0.2s;
}

.club {
    width: 50rem;
    box-shadow: 1px 1px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}

.club-item {
    list-style: none;
    width: 90%;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    padding-left: 10px;
    margin: 10px 0 4px 17px;
}

.gat-href {
	text-decoration: none;
}

/* ======== PSEUDO-CLASS <SELECTOR> ======== */
/* .portal-item::after, 
.portal-item::before {
    width: 10px;
    height: 60px;
    border-color: transparent;
}

.portal-item::before {
    position: absolute;
    content: '';
    border: 1px solid rgba(50, 130, 255, 0.9);
    top: -10px;
    right: -15px;
    z-index: -3;
}

.portal-item::after {
    position: absolute;
    content: '';
    border: 1px solid rgba(50, 130, 255, 0.9);
    top: 10px;
    left: -15px;
    z-index: -3;
} */

.gat-href:link {
  color : black;
}
.gat-href:visited {
  color : black;
}
.gat-href:hover {
  color : black;
}
.gat-href:active {
  color : black;
}

.change-info:hover {
    color: var(--bg-color);
    background-color: transparent;
}


.portal-item:hover {
    background: white;
    /* border: 1px solid rgba(50, 130, 255, 0.9); */
    color: rgba(50, 130, 255, 0.9);
}
