<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boot.teamMainProject.dao.GatherDetComDAO">
  	
  	<select id="readComment" resultType="com.boot.teamMainProject.model.GatherDetComVO">
  		SELECT gatDetComNo, memNick, gatDetComInfo, gatDetComDate, gatDetComLike
  		FROM Gather_Det_Com WHERE gatDetNo = #{gatDetNo}
  	</select>
  	
  <insert id="insertGatDetCom" parameterType="com.boot.teamMainProject.model.GatherDetComVO">
			INSERT INTO Gather_Det_Com(gatDetComNo,gatDetNo,gatDetComInfo, gatDetComDate) 
			VALUES (${gatDetComNo}, ${gatDetNo},'${gatDetComInfo}',CURRENT_TIMESTAMP)
	</insert>
	
  <select id="CommentCountBoard" 
   				resultType="com.boot.teamMainProject.model.GatherDetComVO">
  		SELECT * FROM Gather_Det_Com WHERE gatDetNo = #{gatDetNo}
   </select>
  
  </mapper>