<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.boot.teamMainProject.dao.IGatheringDAO">
	<resultMap id="gatResult" type="com.boot.teamMainProject.model.GatheringVO">
		<result property="gatNo" column="gatNo" />
		<result property="memNick" column="memNick" />
		<result property="gatName" column="gatName" />	
		<result property="gatInfo" column="gatInfo" />	
		<result property="hobbyNo" column="hobbyNo" />	
		<result property="gatArea" column="gatArea" />	
		<result property="gatOpen" column="gatOpen" />	
		<result property="gatHate" column="gatHate" />
		<result property="gatPhoto" column="gatPhoto" />	
		<result property="gatBanPhoto" column="gatBanPhoto" />		
	</resultMap>
	
	<insert id="insertGathering" parameterType="com.boot.teamMainProject.model.GatheringVO">
			INSERT INTO Gathering( memNick,gatName, gatInfo,hobbyNo,gatArea,gatOpen,gatHate,gatPhoto,gatBanPhoto) 
			VALUES (  '${memNick}','${gatName}','${gatInfo}','${hobbyNo}','${gatArea}',CURRENT_TIMESTAMP,0,'${gatPhoto}','${gatBanPhoto}')
	</insert>
	<select id="detailViewSomoim" parameterType="int"
   				resultType="com.boot.teamMainProject.model.GatheringVO">
  		SELECT * FROM Gathering WHERE gatNo=#{gatNo}
   </select>
	</mapper>