<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.boot.teamMainProject.dao.IGatherDetDAO">
	<resultMap id="gatResult" type="com.boot.teamMainProject.model.GatherDetVO">
		<result property="gatNo" column="gatNo" />
		<result property="gatDetNo" column="gatDetNo" />
		<result property="gatDetTitle" column="gatDetTitle" />
		<result property="memNick" column="memNick" />
		<result property="gatDetInfo" column="gatDetInfo" />	
		<result property="gatDetPhoto" column="gatDetPhoto" />	
		<result property="gatDetDate" column="gatDetDate" />	
		<result property="gatDetLike" column="gatDetLike" />	
		<result property="gatDetView" column="gatDetView" />	
		<result property="gatDetComNum" column="gatDetComNum" />	
		<result property="gatDetCategory" column="gatDetCategory" />
	</resultMap>
	
   <select id="detailViewBoard" parameterType="int"
   				resultType="com.boot.teamMainProject.model.GatherDetVO">
  		SELECT * FROM gather_det WHERE gatDetNo=#{gatDetNo}
   </select>

<!-- 	<select id="MoveinsertGather" parameterType="String" -->
<!--    				resultType="com.boot.teamMainProject.model.GatherDetVO"> -->
<!--   		SELECT * FROM gather_det WHERE memNick=#{memNick} -->
<!--    </select> -->
	<insert id="insertGatherDet" parameterType="com.boot.teamMainProject.model.GatherDetVO">
			INSERT INTO gather_det(gatNo,gatDetNo, gatDetTitle,memNick,gatDetInfo,gatDetPhoto, gatDetDate ,gatDetLike, gatDetView, gatDetComNum, gatDetCategory) 
			VALUES (${gatNo}, ${gatDetNo},  '${gatDetTitle}','${memNick}','${gatDetInfo}','${gatDetPhoto}',CURRENT_TIMESTAMP,0,0,0,${gatDetCategory})
			
	</insert>
	
	<resultMap id="MeemResult" type="com.boot.teamMainProject.model.MemberVO">
		<result property="memNick" column="memNick" />
	</resultMap>
	
	<select id="MoveinsertGather" parameterType="String"
   				resultType="com.boot.teamMainProject.model.MemberVO">
  		SELECT * FROM member WHERE memNick=#{memNick}
   </select>
   
   <select id="CountBoard" 
   				resultType="com.boot.teamMainProject.model.GatherDetVO">
  		SELECT * FROM gather_det
   </select>
<!--    <select id="MoveinsertGather2" parameterType="String" -->
<!--    				resultType="com.boot.teamMainProject.model.MemberVO"> -->
<!--   		SELECT * FROM member WHERE memNick=#{memNick} -->
<!--    </select> -->
	<select id="Lastboard" 
   				resultType="int">
<!--   		SELECT gatDetNo FROM gather_det ORDER BY gatDetNo DESC LIMIT 1 -->
  		SELECT LAST_INSERT_ID()
   </select>

  <!-- 댓글 수 수정 -->
   	<update id="updateGatherDet" parameterType="com.boot.teamMainProject.model.GatherDetVO" >
   		UPDATE gather_det
  		SET gatDetComNum = #{gatDetComNum}
  		WHERE gatDetNo=#{gatDetNo}
   	</update>
   	
   	<!--  글 수정  -->
  <update id="UpdateGatDetComp" parameterType="com.boot.teamMainProject.model.GatherDetVO">
  		UPDATE gather_det
  		SET gatDetTitle='${gatDetTitle}', gatDetInfo='${gatDetInfo}', gatDetCategory = '${gatDetCategory}'
  		WHERE gatDetNo=#{gatDetNo}
  </update>
	<!-- 글 삭제  -->
	
	<delete id="DeleteGatDetCom"  parameterType="int">
  			DELETE FROM gather_det_com WHERE gatDetNo=#{gatDetNo}
  		</delete>
	
  		<delete id="DeleteGatDet"  parameterType="int">
  			DELETE FROM gather_det WHERE gatDetNo=#{gatDetNo}
  		</delete>
  		
   	<update id="updateBoard2Read" parameterType="int">
        UPDATE gather_det
              SET gatDetView = gatDetView + 1
         WHERE gatDetNo=#{gatDetNo}
</update>

   <!-- 서연 - 소모임게시판 전체화면 -->
   
   <select id="gatcommulist" resultMap="gatResult">
  		select * from gather_det WHERE gatNo=#{gatNo}
  	</select>
	
  </mapper>
  