/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: #f6f6f6;*/
/*    position: relative;*/
/*}*/

/*최상단 div*/
.detailWrap {
    width: 98%;
    font-family: 'NanumSquareRound';
    text-align: left !important;
}

/*이미지 태그 감싸는 div*/
.spacePicture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 720px;
}
.spacePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#calendarSpan {
    border: 1px solid green;
    width: 450px;
    height: 100%;
    background-color: orange;
}
/*#calendarSpan div {*/
/*    border: 1px solid black;*/
/*    width: 100%;*/
/*}*/
/*.fc {*/
/*    !*display: inline !important;*!*/
/*}*/
/*네비게이션 감싸는 div*/
.navigation {
    position: relative;
    background-color: white !important;

}
 /*li 감싸는 ul*/
 .navigation_list {
     display :inline-block;
     list-style : none;
     width: 100%;
     justify-content : center;
     background-color: white;
     margin-top: 20px;
     margin-bottom: 20px;
 }

.navigation_list li {
    /*cursor: pointer;*/
    /*position: relative;*/
    /*display: inline-block;*/
    font-size: 25px;
    /*margin-top: 7%;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    /*padding-top: 20px;*/
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    border-bottom: 2px solid #5da5f8;
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.navigation_list li:hover {
    background-color: #ffd014;
}

/*각 목록 감싸는 div*/
.content {
    /*height: 300px;*/
    /*컨텐츠 다 표시하고 패딩 바텀 10% 줘서 모든 컨텐츠 들어갈 수 있게.*/
    padding-bottom: 5%;
}
#section5 {
/*    마지막 패딩은 주지 않아서 footer가 바로 보이게 */
    padding-bottom: 0px !important;
}
/*공간 소개, 안내, 유의 사항, 지도, 이용 후기 h태그*/
.h-intro {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    
}

/*소개, 유의 사항 등 콘텐츠 표현*/
.content p {
    font-size: 20px;
    color: #545252;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content ul li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d9d8d8;
    font-size: 18px;
    font-weight: 900;
}
.content ul li span{
    font-weight: normal !important;
    margin-left: 3%;
}

#spaceTitle {
    margin-top: 10px;
    margin-bottom: 10px;
}
#spaceInfo {
    margin-top: 10px;
    margin-bottom: 10px;
}
#spaceInfo2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#revMemNick {
    font-weight: bold;
    font-size: 30px;
}
#revMemTitle{
    font-size: 20px;
}
#section2 ul li {
    margin-bottom: 5px !important;
    border-bottom: 1px solid #d9d8d8 !important;
    padding: 5px 0px 5px 5px !important;
}
#section2 ul li span {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

/* 주소 꾸미기 */

#addressValue {
    font-size: 18px;
    color: #656565;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}
#SpaceTitleInMap {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#map {
    margin-top: 15px;
}
#revDate {
    font-size: 14px;
    color: #9c9c9c;
}
/*예약 하는 div 박스*/
.reservation {
    margin: 0 auto;
    /*border: 1px solid black;*/
    width: 60%;
    height: 85px;
    /*position: relative;*/
    /*background-color: #9fcdff;*/
}
.setDateTime {
    width: 170px;
    height: 35px;
    margin-right: 15px;
    margin-top: 17px;
}
#ReservationBtn{
    width: 170px;
    height: 35px;
    margin-right: 15px;
    margin-top: 17px;
    background-color: #5da5f8;
    border: 2px solid #5da5f8;
    cursor: pointer;
    color: white;
}
.reservation p{
    margin-top: 10px;
    margin-bottom: 5px;
}
a {
    text-decoration-line: none;
}