.wrap{
    font-family: 'NanumSquareRound' !important;
    width: 1260px;
    justify-content: center;
}
#gatScheTitle {
    width: 1260px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: bold;
}
#gatScheInfo {
    margin-top: 30px;
    width: 1260px;
    margin-bottom: 30px;
}

#gatScheDate, #gatScheTime, #gatScheMax, #scheduleAddress, #scheduleSpace {
    height: 38px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#wrap .btn-primary {
    background-color: #5da5f8;
    border-color: #5da5f8;
}
#btnSave1, #btnSave2 {
    float: right;
}