@charset "UTF-8";


ul {
	margin-top:0;
	padding:0;
	list-style:none;   /* type 없음 */
}
a{text-decoration:none;}

#chatBtnBox {
	z-index:20;  /* 스크롤 시 위 오도록 */
	box-sizing: border-box; 
}

.menu{
    width: 493px;
    height: 745px;
}

.menu-btn{
  position: absolute;
  top:50%; left:50%;
  display:block; 
  width:90px; 
  height:90px;
  line-height:70px;
  transform:translate(165%, 305%);
}

#chatBtnImg {
	width:100%;
	height:100%;
}

.menu-round-box{
  width: 414px;
  height: 688px;
  border-radius: 43px;
  background: #F7F7F7;
  transform:scale(0,0);
  transition: transform 0s;
  padding:20px;
}

#menu-round-box-div {
  height: 591px;
}

#menu-round-box-div li{
  width: 411px;
  height: 80px;
  border-radius: 20px;
  background:#ffffff;
  text-align:center;
  line-height:50px;
  margin-top:20px;
}

#menu-round-box-div ul li a {
	text-decoration:none;
	color:black;
}

.box1 .open{
  animation: menuBtn1 0.5s linear 1;
  
  transition: all 0.5s;
  transform:scale(1,1);
}
@keyframes menuBtn1{
  0%{
    transform:scale(0,0);
  }
  100%{
    transform:scale(1,1);
  }
}

.open ~ .menu-btn{
  box-shadow:none;
}
.open li{
  transition-delay:0.5s;
  transform: scale(1,1);
}