@charset "UTF-8";


ul {
	margin-top:0;
	padding:0;
	list-style:none;   /* type 없음 */
}
a{text-decoration:none;}

/* #chatBtnBox {
	z-index:20;  스크롤 시 위 오도록
	box-sizing: border-box; 
}

.menu{
    width: 200px;
    height: 200px;
}

.menu-btn{
  position: absolute;
  top:50%; left:50%;
  display:block; 
  width:90px; 
  height:90px;
  line-height:70px;
  transform:translate(0%, 0%);
}

#chatBtnImg {
	width:100%;
	height:100%;
}

.menu-round-box{
  width: 414px;
  height: 688px;
  border-radius: 43px;
  background: #F7F7F7;
  transform:scale(0,0);
  visibility: hidden;
  transition: transform 0s;
  padding:20px;
  box-shadow: 1px 1px 11px 2px lightgrey;
 transform: translate(100%, 200%);
}

#menu-round-box-div {
  height: 591px;
}

#menu-round-box-div li{
  width: 380px;
  height: 74px;
  border-radius: 20px;
  background:#ffffff;
  text-align:left;
  line-height:30px;
  margin-top:20px;
  box-shadow: 1px 1px 11px 2px lightgrey;
  padding-left:34px;
  padding-top:10px;
  position: relative;
}

#menu-round-box-div ul li a {
	text-decoration:none;
	color:black;
}


.box1 .open{
  animation: menuBtn1 0.5s linear 1;
  visibility: visible;
  transition: all 0.5s;
  transform:scale(1,1);
  visibility:visible;
}
@keyframes menuBtn1{
  0%{
    transform:scale(0,0);
  }
  100%{
    transform:scale(1,1);
  }
} 

.open ~ .menu-btn{
  box-shadow:none;
}
.open li{
  transition-delay:0.5s;
  transform: scale(1,1);
  visibility:visible;
}
#chatListName {
	height:30px;
	font-size:18px;
	font-weight:bold;
}

.chatFirst li p {
	width:210px;
	margin-right:166px;
	position: absolute;
}

#chatInImg {
	float:right;
	width: 15px;
    height: 29px;
    margin-bottom: 25px;
    margin-top: -14px;
    margin-right:20px;
}
 */

 input#chatB {
	display: none;
	
}

nav#chatB_nav{
	display: none;
}

 input#chatB:checked + nav#chatB_nav {
	display: block;
}

#chatB_nav {
    margin-bottom: 53px;
    margin-right: 38px;
	width: 468px;
	height: 688px;
	border-radius: 43px;
	background: #F7F7F7;
    float: right;
  	box-shadow: 1px 1px 11px 2px lightgrey;
    box-sizing: border-box;
    z-index:50;
}

#chatB_nav ul li {
	width: 426px;
    height: 84px;
    border-radius: 20px;
    background: #ffffff;
    text-align: left;
    line-height: 30px;
    margin-top: 20px;
    box-shadow: 1px 1px 11px 2px lightgrey;
    padding-left: 34px;
    padding-top: 13px;
    position: relative;
    box-sizing: border-box;
}

#chatB_nav ul li a {
	text-decoration:none;
	color:black;
}

#chatListName {
	height:30px;
	font-size:18px;
	font-weight:bold;
}

.chatB_nav li p {
	width:210px;
	margin-right:166px;
	position: absolute;
}

#chatInImg {
	float:right;
	width: 15px;
    height: 29px;
    margin-bottom: 25px;
    margin-top: -14px;
    margin-right:20px;
}

#chatBtnImg {
  width:90px; 
  height:90px;
  margin-right:10px;
  margin-bottom:10px;
  z-index:100;
}

#chatButton {
  z-index:100;
}
