@charset "UTF-8";


.container{
	width:680px;
	background:#F6F6F6;
	margin-top:30px;
	margin-bottom:30px;
	padding-bottom:20px;
	
}
.container h1{
	font-size: 18px;
	text-align:center;
	padding:13px;
	background:#8ADBFF;
}
.chating{
	background:#F6F6F6;
	width:650px;
	height: 600px; 
	overflow-y:scroll; 
	padding:15px;
}
.chating .me{
	height: auto; 
	width: auto; 
	background: #FFFFFF;
	border: 1px solid #ABABAB;
	border-radius: 10px;
	font-size:16px;
	float:right; 
	margin-left:400px;
	position: relative;
	padding:10px;
	margin-top:10px;
	
}
.chating .othersText{
	height: auto; 
	width: auto; 
	font-size:16px;
	float:left; 
	margin-right:400px;
	position: relative;
	padding:10px;
	margin-top:10px;
	font-weight:bold;
}
.chating .othersBox{
	height: auto; 
	width: auto; 
	background: #FFFFFF;
	border: 1px solid #ABABAB;
	border-radius: 10px;
	font-size:16px;
	float:left; 
	margin-right:400px;
	position: relative;
	padding:10px;
}

.yourInputBox {
	text-align:center;
	height: 70px; 
	width: 550px; 
	background:#FFFFFF;
	padding-right:110px;
}

.chattingInput {
	height: 70px; 
	width: 470px; 
	border:0 solid white;
	font-size:16px;
	float:left;
	padding-left:50px;
	position: relative;
}

.chattingBtn {
	height: 55px; 
	width: 110px; 
	padding-right:0;
	background: #D0D0D0;
	border-radius: 10px;
	border:0 solid white;
	font-size:16px;
	position: absolute;
	margin-top:7px;
}

#startBtn {
	height: 55px; 
	width: 600px; 
	border-radius: 10px;
	border:0 solid white;
	background: #EAF5FF;
	font-size:16px;
	margin-top:8px;
	margin-left:30px;
	position: relative;
}
#yourMsg {
	display: none;
} 

.chatMenuBox {
	text-align:center;
	height: 60px; 
	width: 642px; 
	background:#FFFFFF;
	padding-right:18px;
}

.chatMenuBox li {
	float:right;
	width:20%;
	height:60px;
	line-height:30px;
}

.chatMenuBox li button{
	height: 45px; 
	width: 100px; 
	border-radius: 10px;
	border:1 solid skyblue;
    background:none;
	font-size:15px;
	margin-top:10px;
}