@charset "UTF-8";

#chatSize {
	width:680px;
	background:#FFFFFF;
	margin-top:30px;
	margin-bottom:30px;
  	border-radius: 43px;
  	box-shadow: 1px 1px 11px 2px lightgrey;
}

.containerTop {
	background:#F8F8F8;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
}

.containerTop h1{
	font-size: 24px;
	text-align:left;
	padding-left:95px;
	padding-top:20px;
	color:black;
}
.containerTop p{
	font-size: 18px;
	text-align:left;
	padding:5px;
	padding-left:95px;
	padding-bottom:20px;
}


#chatImg2 {
	width: 69px;
    height: 62px;
    padding-left: 18px;
    padding-top: 17px;
    position: absolute;
    z-index: 5;
}

#btnClose {
	border: none; 
	background: none; 
	float: right;
}

#chatAllBox {
	width:680px;
}
 
#chatBox {
	height: 600px; 
	width: 629px; 
	overflow-y:scroll; 
	padding:10px 26px; 
	background:#FFFFFF;
} 	

#chatInputBox {
	text-align:center;
	height: 80px; 
	width: 628px; 
	padding-top:10px;
	padding-right:50px;
}

#message {
	height: 70px; 
	width: 408px; 
	border:0 solid white;
	font-size:18px;
	float:left;
	padding-left:40px;
	position: relative;
}

#btnSubmit {
	height: 60px; 
	width: 110px; 
	padding-right:0;
	background: #EEECEC;
	border-radius: 15px;
	border:0 solid white;
	font-size:18px;
	position: absolute;
	margin-top:5px;
	margin-left:10px;
}

							 
.msgBox.send  #msgInputBox {
	background: #39B9F1;
	box-sizing: border-box;
	border-radius: 10px;
	padding:15px;
	text-align:left; 
	float:right; 
	color:#ffffff;
	font-size:18px;
}

.msgBox #in {
	width:616px; 
	background:#FFFFFF;
	float:left; 
}

.msgBox #msgOwner {
	background: none;
	float:left; 
	margin-top:10px;
	font-size:18px;
	font-weight:bold;
}


.msgBox #msgOwnBox {
	background: #F4F4F4;
	box-sizing: border-box;
	border-radius: 10px;
	padding:15px;
	float:left; 
	text-align:left;
	margin-right:290px;
	margin-top:10px;
	font-size:18px;
}

#chatUrl {
	background: #F4F4F4;
	box-sizing: border-box;
	border-radius: 10px;
	padding:15px;
	float:left; 
	text-align:left;
	margin-right:290px;
	margin-top:10px;
	font-size:18px;
}

#chatImage {
	width:100%;
}

#record {
    border:none;
    background:none;
}
#recordBox {
	height: 70px; 
	width: 100px; 
	margin-left:434px;
	position: relative;
	
}
#stop {
    border:none;
    background:none;
}

#recordText {
	position: absolute;
}

#recordImg {
	width: 40px;
	height: 40px;
	margin-top:20px;
}

#stopImg {
	width: 40px;
	height: 40px;
	padding-bottom:2px;
}