@charset "UTF-8";

#chatSize {
	margin-top: 30px;
}

#chatHeader { 
	height:30px;
	width:700px;
	padding: 10px 15px; 
	background:#8ADBFF;
	font-size: 18px;
	text-align:center;
}

#btnClose {
	border: none; 
	background: none; 
	float: right;
}

#chatAllBox {
	width: 730px; 
	background:#F6F6F6;
}
 
#chatBox {
	height: 600px; 
	width: 677px; 
	overflow-y:scroll; 
	padding:10px 26px; 
	background:#F6F6F6;
} 	

#chatInputBox {
	text-align:center;
	height: 80px; 
	width: 690px; 
	padding-top:10px;
	background:#FFFFFF;
	padding-right:25px;
}

#message {
	height: 70px; 
	width: 430px; 
	border:0 solid white;
	font-size:16px;
	float:left;
	padding-left:40px;
	position: relative;
}

#btnSubmit {
	height: 60px; 
	width: 110px; 
	padding-right:0;
	background: #D0D0D0;
	border-radius: 10px;
	border:0 solid white;
	font-size:16px;
	position: absolute;
	margin-top:5px;
}

							 
.msgBox.send  #msgInputBox {
	background: #EAF5FF;
	border: 1px solid #ABABAB;
	box-sizing: border-box;
	border-radius: 10px;
	padding:15px;
	text-align:left; 
	float:right; 
}

.msgBox #in {
	width:650px; 
	background:#F6F6F6;
	float:left; 
}

.msgBox #msgOwner {
	background: none;
	float:left; 
	margin-top:10px;
}


.msgBox #msgOwnBox {
	background: #FFFFFF;
	border: 1px solid #ABABAB;
	box-sizing: border-box;
	border-radius: 10px;
	padding:15px;
	float:left; 
	text-align:left;
	margin-right:356px;
	margin-top:10px;
}

#chatImage {
	width:60%;
	height:60%;
	margin-top:50px;
	margin-bottom:50px;
}

#record {
    border:none;
    background:none;
}
#recordBox {
	height: 70px; 
	width: 100px; 
	margin-left:470px;
	position: relative;
	
}
#stop {
    border:none;
    background:none;
}

#recordText {
	position: absolute;
}

#recordImg {
	width: 40px;
	height: 40px;
	margin-top:20px;
}

#stopImg {
	width: 40px;
	height: 40px;
	padding-bottom:2px;
}