@charset "UTF-8";

#hobbyMenu {
	width:1000px;
	height:60px;
	padding:30px;
}

#hobbyMenu ul{ margin:0;}

#hobbyMenu li {
	float:left;
	width:14%;
	height:30px;
	line-height:30px;
}

#hobbyMenu img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}