@charset "UTF-8";

/* product.css */

#productBox {
	width:100%;
	height:100%;
	padding-top:20px;
}

#productBox .productBest {
	display:inline-block;
	width:100%;
	height:100%;
	margin-top:10px;
}

#productBox .productBest div{
	display:inline-block;
	width:300px;
	height:300px;
	border:solid 1px #cccccc;
	margin:10px;
}

#productBox .productBest div img {
	width:100%;
	height:100%;
}

#productBox .productBest div:hover {
	opacity:0.7;
	border:solid 1px red; 
}

#productBox .productBasic {
	display:inline-block;
	width:100%;
	margin-top:300px;
}

#productBox .productBasic div{
	display:inline-block;
	width:200px;
	height:200px;
	border:solid 1px #cccccc;
	margin:5px;
	margin-bottom:100px;
}

#productBox .productBasic div img {
	width:100%;
	height:100%;
}

#productBox .productBasic div:hover {
	opacity:0.7;
	border:solid 1px red; 
}

#prdName{
	color:black;
	font-weight:bold;
	padding-bottom:1px;
}

#prdPrice{
	color:red;
}

#prdNameS{
	color:black;
	font-weight:bold;
	padding-bottom:1px;
	font-size:12px;
}


a { text-decoration:none }
#pbHr {
  height: 2px;
  width:180px;
  background-color: red;
  border: 0px;
}





